div {margin: 0; padding: 0;}

ul {
    list-style-type: none;
    overflow: hidden;

}

.menu > li {
    float: right;
}

.menu > li > a {
    display: block;
    text-align: center;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    font-family: "Arial", Arial, sans-serif;
    font-size: 13px;
    color: #757575;
}

.menu img {

    display: block;
    padding: 8px;
    top: 9px;
}

#signin {width:79px; height:31px;}
#grid {width:23px; height:20px;}


.main {
  text-align: center;
  overflow: hidden;
  margin: 10% 10%;
}

#googlelogo img {width:250px;}

.searchbar {
  width: 550px;  height: 30px;  border: 1px solid #999999; padding: 5px;
  margin: 3% 0%;
  box-shadow:0 0 2px grey;

}

/* Makes placeholder disappear when typed in*/
input:focus:: input-placeholder {
    opacity: 0;
}



/* Submit buttons for "Google Search" and I'm Feeling Lucky" */
button {

  width: 130px; height: 40px;
  margin: 0% 0% 3% 0%;
  border-color: white;
  color: #757575;

}

.Submit {left: 15px;}
.Lucky {right: 15px;}


button:hover {
  color: black;

}

 button:active {

  box-shadow:0 0 2px blue;
}
/* Quote  */
p {
  text-align: center;
  font-family: "Arial", Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

#quotelink:link    {
  /* Applies to unvisited links*/
  text-decoration: none;
  color: navy;
  }
#quotelink:visited {
  /* Applies to visited links*/
  text-decoration: none;
  color: navy;
  }
#quotelink:hover {
  text-decoration: underline;
  color: navy;
  }
#quotelink:active {
  /* Applies to activated links */
  text-decoration: none;
  color: navy;
  }

  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;

}

/* Footer Menu */

.left {float: left;}
.left:hover {text-decoration: underline;}

.right {float: right;}
.right:hover {text-decoration: underline;}

.left, .right {
    display: block;
    padding: 0px 12px;
    text-decoration: none;
    font-family: "Arial", Arial, sans-serif;
    font-size: 13px;
    color: #757575;
}
