div {margin: 0; padding: 0;}

ul {
    list-style-type: none;
    overflow: hidden;

}

.menu > li {
    float: right;
}

.menu > li > a {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 8px;
    text-decoration: none;
    font-family: "Arial", Arial, sans-serif;
    font-size: 13px;
    color: #0e1111;
}

.menu img {

    display: block;
    padding: 8px;
    top: 9px;
}

#signin {width:79px; height:31px;}
#grid {width:23px; height:20px;}


.content {
  width:334px; height: 404px;
  margin: 100px auto;
  position: relative;
}

.logo {
  position: absolute;
  right: 48px;
  top: 80px;
}

.logo img {width:250px;}

#search {
  position: absolute;
  left: -118px;
  top: 186px;
}

.searchbar {
  width: 550px;  height: 30px;  border: 1px solid #999999; padding: 5px;
  box-shadow:0 0 2px grey;

}

/* Makes placeholder disappear when typed in*/
input:focus:: input-placeholder {
    opacity: 0;
}

#inputlogo {
   width:20px; height:20px;
  position:relative;
  bottom: 30px;
  left: 529px;
}

/* Submit buttons for "Google Search" and I'm Feeling Lucky" */
button {

  width: 130px; height: 40px;
  position: absolute;
  top: 246px;
  border-color: white;
  color: #757575;

}

.Submit {left: 15px;}
.Lucky {right: 50px;}


button:hover {
  color: black;

}

 button:active {

  box-shadow:0 0 2px blue;
}
/* Quote  */
p {
  width: 475px;
  height: 20px;
  text-align: center;
  top: 300px;
  right: -83px;
  font-family: "Arial", Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  white-space: nowrap;
}

#quotelink:link    {
  /* Applies to unvisited links*/
  text-decoration: none;
  color: navy;
  }
#quotelink:visited {
  /* Applies to visited links*/
  text-decoration: none;
  color: navy;
  }
#quotelink:hover {
  text-decoration: underline;
  color: navy;
  }
#quotelink:active {
  /* Applies to activated links */
  text-decoration: none;
  color: navy;
  }

  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;

}

/* Footer Menu */

.left {
    float: left;
}

.right {
    float: right;
}
